body {
    padding-bottom: 40px;
    background-image: url("../img/sea.jpg");
    background-size: cover;
    background-color: #cccccc;
}

#mainMenu {
    margin-bottom: 70px;
}

#mainMenu .active .nav-link {
    cursor: default;
}

.card {
    background-color: #ffffff2e;
}

.box {
    border: 1px solid gray;
    padding: 20px;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}